<div class="container">
  <div class="search-bar">
    <form [formGroup]="searchForm" (ngSubmit)="searchWeather()">
      <input formControlName="city" placeholder="Unesite ime grada">
      <button type="submit">Pretraži</button>
    </form>
  </div>
  
    <div class="upper-data">
        <img src="../assets/sunny.jpg" *ngIf="19 > 20">
        <img src="../assets/cold.jpg" *ngIf="19 <= 20">

        <div class="weather-data">
          <div class="location">Kraljevo</div>
          <div class="temperature">{{14.40 | number: '1.0-0'}}°C</div>
        </div>
    </div>

    <div class="lower-data">
        <div class="more-info-container">
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/min.png">
              <span>Min</span>
            </div>
            <div class="info-block-value">
              10°C
            </div>
          </div>

          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/max.png">
              <span>Max</span>
            </div>
            <div class="info-block-value">
              10°C
            </div>
          </div>

          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/humidity.png">
              <span>Vlažnost</span>
            </div>
            <div class="info-block-value">
              77%
            </div>
          </div>

          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/wind.png">
              <span>Vetar</span>
            </div>
            <div class="info-block-value">
              4 km/h
            </div>
          </div>
        </div>
    </div>
</div>




<router-outlet></router-outlet>
